body{
  font-size: 20px;
  font-family: sans-serif;
  background-color: #f2f3d9;
}

header {
  background-color: #030027;
  color: #c16e70;
  padding: 1em;
}

.about-me{
  font-family: fantasy;
  font-size: 30px;
}

.blog-posts{
  font-size: 20px;
  margin: 100px 10px;
  margin-top: 10px;
  width: 30%;
  float: left;
}
